node_modules/
**/node_modules/
package-lock.json
**/package-lock.json
.env
.env.*
*.log
dist/
**/dist/
build/
.vscode/
.idea/
.DS_Store

blockchain/artifacts/
blockchain/cache/
blockchain/ignition/
blockchain/test-results/
blockchain/tested/
blockchain/venv/
blockchain/slither_env/
blockchain/slither_report.json

testshop/backend/*.back
testshop/backend/.env

old/
scripts_no_git/
